projects:
    pydantic:
        type: sitemap
        sources:
            - https://pydantic.dev/sitemap.xml
        crawl:
            parser: crawl4ai # crawl4ai | kreuzberg-dev
            parse_type: markdown # crawl4ai: markdown | markdown-fit, kreuzberg-dev: markdown
        preprocessing:
            markdown:
                enabled: false

                ensure_h1: false                        # Adds missing # Tag
                remove_jump_to_content: false           # Removes "[Zum Inhalt springen](https://de.wikipedia.org/wiki/Boeing_707#bodyContent)" links
                remove_wikipedia_subtitle: false        # Removes "aus Wikipedia, der freien Enzyklopädie"
                remove_wiki_loves_earth_banner: false   # Removes "Wikipedia:Wiki_Loves_Earth_" and "Wikidata:Events/Coordinate_Me_" Links
                remove_reference_sections: false
                remove_html_comments: false
                normalize_whitespace: false

    planes:
        type: pages
        sources:
            - https://de.wikipedia.org/wiki/Boeing_707
            - https://de.wikipedia.org/wiki/Boeing_717
            - https://de.wikipedia.org/wiki/Boeing_720
            - https://de.wikipedia.org/wiki/Boeing_727
            - https://de.wikipedia.org/wiki/Boeing_737
        crawl:
            parser: crawl4ai # crawl4ai | kreuzberg-dev
            parse_type: markdown # crawl4ai: markdown | markdown-fit, kreuzberg-dev: markdown
        preprocessing:
            markdown:
                enabled: false

                ensure_h1: false
                remove_jump_to_content: false
                remove_wikipedia_subtitle: false
                remove_wiki_loves_earth_banner: false
                remove_reference_sections: false
                remove_html_comments: false
                normalize_whitespace: false

                reference_headings:
                    - Einzelnachweise
                    - Weblinks
                    - Literatur
                    - Quellen
                    - References
                    - External links
                    - Bibliography
