projects:
    pydantic:
        type: sitemap
        sources:
            - https://pydantic.dev/sitemap.xml
        crawl:
            parse_type: markdown # markdown | markdown-fit
        preprocessing:
            markdown:
                enabled: false

                remove_jump_to_content: false
                remove_wikipedia_subtitle: false

    planes:
        type: pages
        sources:
            - https://de.wikipedia.org/wiki/Boeing_707
            - https://de.wikipedia.org/wiki/Boeing_717
            - https://de.wikipedia.org/wiki/Boeing_720
            - https://de.wikipedia.org/wiki/Boeing_727
            - https://de.wikipedia.org/wiki/Boeing_737
        crawl:
            parse_type: markdown # markdown | markdown-fit
        preprocessing:
            markdown:
                enabled: false

                remove_jump_to_content: false
                remove_wikipedia_subtitle: false
                remove_reference_sections: false
                remove_html_comments: false
                normalize_whitespace: false

                reference_headings:
                    - Einzelnachweise
                    - Weblinks
                    - Literatur
                    - Quellen
                    - References
                    - External links
                    - Bibliography
